.itemCart{
    display: flex;
    max-width: 500px;
    margin: 1rem auto;
}

.itemCart img {
    max-width: 220px;
    border-radius: 20px;
    border: 2px solid #000;
    margin-right: 1rem;
}

.btn-primary{
    border: 1px solid #000;
    background-color: #E8E3B4;
    box-shadow: 5px 12px 14px 0px rgba(0, 0, 0, .3);
    color: #000;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
}

.itemCart p{
    margin-bottom: .5em !important;
}