.container-description{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 85vh;
}

.description-img{
     max-width: 420px;
     max-height: 400px;
     margin: 50px ;
     border-radius: 20px;
     border: 2px solid #000;
}

.description-detail{
    margin: 0 auto;
    margin: 50px;
}

.description-detail h2{
    font-weight: bold;
}


.ingredients{
    color: rgb(116, 116, 116);
}

.description-detail h2 span{
    font-size:x-large ;
    color: rgb(116, 116, 116);
    font-weight: 100;
}