.container-description{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 85vh;
}

.description-img{
     max-width: 420px;
     max-height: 400px;
     margin: 50px ;
     border-radius: 20px;
}

.description-detail{
    margin: 0 auto;
    margin: 50px;
}

.add-cart_detail{
    border: 2px #000;
    background-color:rgb(68, 68, 68);
    color: #fff;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
}
