.cart-container{
    display: flex;
    cursor: pointer;
    padding: 8px;
    border-radius: 20px;
    margin-right: 20px;
    background-color: #FAFAFA;
    align-self: center;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.377);
    background-color: #E8E3B4
}

.cart-img{
    width: 20px;
    height: 20px;
    align-self: center;
}

.cart-number{
    margin-left: 7px;
    align-self: center;
}