
.card{
    border-radius:  40px 40px !important;
    border: 0px;  
    background-color: rgba(231, 228, 194, 0.7)
}

.card-img{
    cursor: pointer;
    justify-self: center;
    border-radius: 10px;
    width: 190px;
    height: 200px;
    margin-top: 20px;
}

.card-title{
    font-size: 25px;
    font-weight: bold;
    color: #000;
}

.card-price{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #000;
}

.card-price span{
    color: rgb(116, 116, 116);
    font-weight: 100;
    font-size: large;
}