.home{
    max-width: 1200px;
    margin: 0 auto;
}


.greeting_banner{
    align-items: center;
    justify-content: center;
    display: flex;
}

.greeting-info {
    justify-content: center;
    align-items: center;
    max-width: 700px;
}

.greeting{
    justify-content: center;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    max-width: 600px;
    z-index: 3;
}

.greeting-info{
    z-index: 8;
    padding-left: 100px;
}

.greeting-info p{
    font-size: 20px; 
    max-width: 600px;
}

.greeting-img{
   padding-left: 60px;
   padding-top: 100px;
   z-index: 10;
}


.dots{
    margin: 0 auto;
    position:absolute;
    display: flex;
}

.dot {
    margin: 20px;
    padding: 90px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: rgb(255, 251, 0);
    -webkit-filter: blur(110px);
    filter: blur(110px);
}

.dots2{
    margin: 0 auto;
    position: absolute;
    display: flex;
}

.dot2 {
    margin: 20px !important;
    padding: 50px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: rgba(0, 255, 42, 1);
    -webkit-filter: blur(80px);
    filter: blur(80px);
}

.support-area{
    margin-right: 100px;
}

.products-title{
    font-weight: bold;
    margin-right:90px;
}

.support-wrap{
    height: 125px;
    border-radius: 30px;
    background-color: rgb(255, 251, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 14;
    box-shadow: 5px 12px 14px 0px rgba(255, 251, 0,0.4);
}