.nav{
    background-color: none;
    z-index: 1;
    justify-content: center;
    max-width: 1200px !important;
    margin: 0 auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .navbar-container{
    margin-right: 60px;
    padding: 5px;
    display: flex;
  }

  
  .buttons-navbar{
    margin: 0 40px;
    font-size: 1.5em ;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
  }

  .logo{
    display: flex;
    text-decoration: none !important;
    margin-right: 20px; 
  }

  .logo img{
  margin-top: -12px;
  margin-right: -20px;
  width: 100px;
  height: 100px;
  align-self: center;
  }

  .logo h2{
    font-weight: bold;
    margin-top: 22px;
    color: #E8E3B4;
  }