
.card{
    border-radius: 10px 40px 10px 40px !important;
    border: 0px;  
    background-color: #eeeeee;
}

.card-img{
    cursor: pointer;
    justify-self: center;
    border-radius: 10px;
    width: 180px;
    height: 200px;
    margin-top: 20px;
}

.card-title{
    font-size: 25px;
    font-weight: bold;
    color: #000;
}

.card-price{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #000;
}

.buy{
    background-color: rgb(211, 200, 99);
    border: 0px;
    transition: all .3s;
    border-radius: 10px;
    padding: 10px;
}

.buy:hover{
    color: #F3F2F2;
    background-color: rgb(212, 171, 112);
}

.add-cart{
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(168, 168, 168);
    border: 0px;
}

.add-cart:hover{
    background-color: rgb(61, 48, 29);
}