.counter{
    margin: 0 auto;
}

.counter-container{
    border: 1px solid #000;
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 20px;
}

.btn-counter{
    border: 1px solid #000;
    background-color:rgba(0, 0, 0, .1);
    color: #000;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.add-cart_detail{
    border: 1px solid #000;
    background-color:rgba(0, 0, 0, .1);
    box-shadow: 5px 12px 14px 0px rgba(0, 0, 0, .3);
    color: #000;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-finish{
    border: 1px solid #000;
    background-color:rgba(0, 0, 0, .1);
    color: #000;
    padding: 10px 15px;
    margin: 20px !important;
    border-radius: 10px;
    cursor: pointer;
}